

#header{
text-align:center;
font-family:Monospace;
}

h1{
font-size:2.75em;
}

#header p{
font-size:2.25em;
}

/*.btn{
position:relative;
background-color:blue;
display:inline-block;
color:white;
float:left;
top:-100px;
padding:10px 10px 10px 10px;
border:2px solid black;
border-radius:15px;
}*/

#question{
width:10vw;
position:absolute;
top:75%;
left:80%;
z-index:-10;
font-size:20px;
font-family:Monospace;
}

#canvasContainer{
position:relative;
margin:0px;
padding:0px;
top:10px;
}

#canvas{
position:absolute;
top:0px;
left:0px;
visibility:visible;
}

#canvasAnswer{
margin:0px;
padding:0px;
z-index:-1;
position:absolute;
top:0px;
left:0px;
visibility:visible;
}

body{
padding:0px;
margin:0px;
}