@font-face{
font-family:Digital;
src: url(fonts/digital-7.ttf);
}

html{
min-height:100%;
background-image:url(background5.png); 
background-size:cover;
}

#clockContainer{
text-align:center;
font-size:5rem;
color:white;
font-family:Digital;
width:50vw;
margin:auto;
margin-top:35vh;
}

#clockContainer p {
display:inline-block;
}

#clockSeconds{
font-size:3.25rem;
}

#canvasSnow{
position:absolute;
top:0px;
left:0px;
z-index:-1;
}

#background{
position:absolute;
top:0px;
left:0px;
z-index:-200;
}

#ampm{
display:inline-block;
font-size:1.75rem;
width:50px;
}

#ampm p{
margin:0px;
color:gray;
opacity:0.6;
}

